body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.title {
  display: flex;
  justify-content: center;
}

/*/////////////////////////////////////////////////
/                  MAIN HEADER                   /
///////////////////////////////////////////////*/

.main-header {
  background: #517fa4; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #243949, #517fa4); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243949, #517fa4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  height: 500px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.main-header h1 {
  margin: 0;
  font-size: 3em;
  color: white;
}

.main-header p {
  color: white;
  font-family: 'Nunito', sans-serif;
  font-weight: 800;
}

/*/////////////////////////////////////////////////
/                     NAVBAR                     /
///////////////////////////////////////////////*/

.navbar {
  height: 4em;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.19);
}

.navbar a {
  text-decoration: none;
  color: black;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: 0;
}

li {
  list-style: none;
  padding-top: 1.4em;
  padding-right: 4em;
}

/*/////////////////////////////////////////////////
/               CONTAINER IMAGES                 /
///////////////////////////////////////////////*/

.container-img {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-img img {
  padding: 0.5em;
}

/*/////////////////////////////////////////////////
/                     FOOTER                     /
///////////////////////////////////////////////*/

footer {
  display: flex;
  justify-content: center;
  height: 4em;
  background-color: #34495e;
  margin-top: 2em;
  color: white;
}
